.col-md-4.col-md-offset-4
  %h1 新增記事
  %hr

  =simple_form_for @list do |f|
    .form-group
      = f.input :title, input_html: {class: "form-control"}
      = f.input :content, input_html: {class: "form-control"}
      %h3 Items
      #items
        = f.simple_fields_for :items do |item|
          = render "items/item_fields", f: item
        .links
          = link_to_add_association 'add item', f, :items, partial: "items/item_fields"
    = f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting..."}
