.col-md-4.col-md-offset-4
  %h1= @list.title
  %p= @list.content
  %hr

  %table.table
    %thead
      %tr
        %th.glyphicon.glyphicon-check Item
        %th Edit
        %th Delete
    %tbody
      - @items.each do |item|
        %tr
          - if item.done?
            %td
              = link_to(complete_list_item_path(item.list, item), class: "btn-lg", method: :patch) do
                %i.fa.fa-check
              %strike #{item.content}
              -# =check_box_tag "packersOff", item.id, item.done
              -# %label.strikethrough #{item.content}
            %td
              = link_to(edit_list_item_path(item.list, item), class: "btn-lg") do
                %i.fa.fa-edit
            %td
              = link_to(list_item_path(item.list, item), class: "btn-lg", method: :delete, data: {confirm: "Are You Sure?"}) do
                %i.fa.fa-trash
          - else
            %td
              = link_to(complete_list_item_path(item.list, item), class: "btn-lg", method: :patch) do
                %i.fa.fa-check
              -# =check_box_tag "packersOff", item.id, item.done
              %strong #{item.content}
            %td
              = link_to(edit_list_item_path(item.list, item), class: "btn-lg") do
                %i.fa.fa-edit
            %td
              = link_to(list_item_path(item.list, item), class: "btn-lg", method: :delete, data: {confirm: "Are You Sure?"}) do
                %i.fa.fa-trash



  %hr
  .glyphicon.glyphicon-plus
  = link_to("New Item", new_list_item_path(@list))
  %hr
  .text-center.btn-group
    = link_to("Edit", edit_list_path(@list), class: "btn btn-primary")
    = link_to("Delete", list_path(@list), class: "btn btn-danger", method: :delete, data: {confirm: "Are You Sure?"})
    = link_to("Back", lists_path, class: "btn btn-info")




